div.all {
  background-color: #f9f9f7;
  height: 400px;
  display: block;
  margin: 60px auto;
  width: 600px;
  border-radius: 20px;
  box-shadow: 12px 12px 2px 1px #efeee8;
}
.left {
  line-height: 50%;
  margin-top: -50px;
}
h1 {
  padding: 5px;
  font-size: 40px;
  color: #5b6275;
  text-align: left;
}

form {
  margin-left: 320px;
  padding: 10px;
  display: block;
}
form input {
  width: 200px;
}

.button {
  background-color: #eae8e0;
  width: 30px;
}
#current-location-button {
  height: 40px;
  border-radius: 20px;
  margin-left: 380px;
}
.today {
  padding: 5px;
  font-size: 20px;
  color: #5b6275;
  text-align: left;
  display: block;
}

.weather {
  display: block;
  padding: 10px;
}

.weather img {
  margin: -10px 5px;
  height: 75px;
  width: 75px;
}

.weather #temperature {
  display: inline;
  color: #5b6275;
  line-height: 1;
  font-size: 45px;
}

.weather .units {
  font-size: 16px;
}

.weather .active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}

.weather .active:hover {
  text-decoration: none;
}

#description {
  padding-top: 10px;
  line-height: 20%;
  color: #5b6275;
  font-size: 20px;
  font-weight: 400;
}

#description:first-letter {
  text-transform: capitalize;
}

.forecast {
  margin-top: -60px;
  margin-left: 300px;
}

.elements {
  display: block;
  text-align: left;
  line-height: 20%;
  color: #5b6275;
  font-size: 15px;
  font-weight: 300;
  width: 150px;
}

.hilo {
  display: block;
  text-align: left;
  font-weight: 300;
  color: #5b6275;
  font-size: 20px;
}

.weather-hourly {
  padding: 10px;
}

.weather-forecast-date {
  font-size: 15px;
}

.weather-forecast-temps {
  font-size: 14px;
}

.github-link {
  margin: -100px 0px;
  color: #5b6275;
}

.github-link:active {
  color: #5b6275;
}
