div.all {
  background-color: #f9f9f7;
  height: 320px;
  display: block;
  margin: 60px auto;
  width: 600px;
  border-radius: 20px;
  box-shadow: 12px 12px 2px 1px #efeee8;
}
.left {
  line-height: 50%;
  margin-top: -70px;
  margin-left: 50px;
}

#city {
  padding: 5px;
  font-size: 40px;
  color: #5b6275;
  text-align: left;
}

form {
  margin-left: 320px;
  padding: 10px;
  display: block;
}
form input {
  width: 200px;
}

.button {
  background-color: #eae8e0;
  width: 30px;
}
#current-location-button {
  height: 40px;
  border-radius: 20px;
  margin-left: 330px;
  width: 230px;
}
.today {
  padding: 5px;
  font-size: 20px;
  color: #5b6275;
  text-align: left;
  display: block;
  font-weight: 200;
}

.weather {
  display: block;
  padding: 10px;
}

.weather img {
  margin: -10px 80px;
  height: 85px;
  width: 85px;
}

.weather #temperature {
  padding-bottom: 20px;
  display: inline;
  color: #5b6275;
  line-height: 1;
  font-size: 45px;
}

.weather .units {
  font-size: 16px;
}

.weather .active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}

.weather .active:hover {
  text-decoration: none;
}

#description {
  padding-top: 25px;
  color: #5b6275;
  font-size: 17px;
  font-weight: 200;
}

#description:first-letter {
  text-transform: capitalize;
}

.weather-prediction {
  margin-top: -60px;
  margin-left: 150px;
}

.elements {
  display: block;
  text-align: left;
  line-height: 20%;
  color: #5b6275;
  font-size: 15px;
  font-weight: 200;
  width: 150px;
}

.hilo {
  display: block;
  text-align: left;
  font-weight: 200;
  color: #5b6275;
  font-size: 20px;
}

.github-link {
  font-size: 13px;
  margin-top: 40px;
  position: fixed;
  color: #5b6275;
}

.github-link:active {
  color: #5b6275;
}
